#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.image {
    height: 200px;
    padding: 8px;
}
.description {
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0px;
}
.card {
    border: 2px solid rgb(154, 56, 21);
    border-radius: 10px;
    width: 23%;
    margin-top: 35px;
    padding: 20px;
}
.category, .price {
    font-size: 17px;
    font-weight: 500;
    color: rgb(116, 12, 12);
}
@media only screen and (max-width: 600px) {
    .card {
        width: 95%;
        margin: 0 auto;
        margin-top: 20px;
    }
    #cards {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 25px;
        
    }
}